/* This file is for your main application css. */

@import "bootstrap";

.side { padding: 4ex; text-align: center; }
h1 { text-align: center; }

@media (min-width: 1200px) {
  .container {
    width: 720px;
  }
}
